@import "~reset-css/sass/reset";

// helpers
@import "./styles/functions/functions";
@import "./styles/mixins/mixins";
@import "./styles/mixins/typography";
@import "./styles/variables/variables";

// components
@import "./components/app/App.scss";

// consumables
@import "./components/consumables/button/Button.scss";
@import "./components/consumables/container/Container.scss";
@import "./components/consumables/header/Header.scss";
@import "./components/consumables/text/Text.scss";

body {}

*:focus {
  outline: none;
  outline: transparent;
}

// LOADER
.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  @include flex-box(null, null, center, center);
}


button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}